body
{
    background: url('fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 1300px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    background: url('separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

section
{
    display: flex;
    margin-bottom: 20px;
}

article
{
    margin-right: 100px;
    flex: 3;
}

article p
{
    font-size: 1.5em;
}

.table {
	column-count:2;
	column-width:15rem;
}

.test{
	margin-right: 125px;
}

.itelios{
	background-color:#DC7633;
	color:white;
	font-weight:bold;
	display:inline;
	text-decoration: underline;
	font-size: 1em;
}

#a1:hover {
	color:white;
}

.gras{
	font-weight:bold;
	display:inline;
	font-size: 1em;
}

a:hover {
	color:blue;
}

.taille{
	font-size: 1em;
}

p{
	display:inline;	
}
